@font-face {
  font-family: 'Reey';
  src: url(../fonts/ReeyRegular.woff2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #525556;
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #92999b;
}
::-webkit-scrollbar-thumb{
  background-color: #2f3536;
}

.container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0 15px;
}



